<section class="container section">
  <form action="/addlist/" method="post">
    {% csrf_token%}
    <div class="columns">
      <div class="column is-10">
        <div class="field">
          <div class="control">
            <input class="input is-info" type="text" placeholder="Add item" name="content" id="content">
          </div>
        </div>
      </div>
      <div class="column">
        <button class="button is-primary is-fullwidth" type="submit"><i class="far fa-plus-square"></i></button>
      </div>
  </form>
</section>